{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/collections/breadcrumb.css' %}"
<link rel="stylesheet" type="text/css" href="{% static 'css/collections/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/collections/grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/collections/menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/collections/message.css' >%}"
<link rel="stylesheet" type="text/css" href="{% static 'css/collections/table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/basic.icon.css' >%}"
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/button.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/divider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/icon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/image.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/input.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/label.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/loader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/progress.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/reveal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/segment.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements/step.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/views/comment.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/views/feed.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/views/item.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/views/list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/views/statistic.css' %}">
